<div class="row form user_profile">
  <div class="col-lg-12">
    <%= image_tag @spot.picture.url(:medium) %>
    <h2>
      <span><%= "#{@spot.name}" %></span><br/>
      <span><%= "#{@spot.address}" %></span><br />
      <span><%= "#{@spot.start_time}" %></span><br />
      <span><%= "#{@spot.last_admission_time}" %></span><br />
      <span><%= "#{@spot.end_time}" %></span><br />
      <span><%= "#{@spot.fee}" %></span><br />
      <span><%= "#{@spot.parking}" %></span><br />
      <span><%= link_to "この観光地の評価をする", new_spot_review_path(@spot.id) %>
    </h2><br/>
    ここから下はレビュー
      <% @spot.reviews.each do |review| %>
        <li><%review.user.nickname %>さんより<br />
            評価:<%= review.rate %><br />
            コメント:<%= review.review %><br />
        </li>
      <% end %>
  </div>
</div>